#Config File For Atlantis-Logstash
#This file must be in /etc/atlantis/logstash otherwise set the config dir setting.

#The path to the logstash repo(default /opt/atlantis/logstash)
LS_PATH="/opt/atlantis/logstash"

#Log path, where to put the logs
LS_LOG_PATH="/var/log/atlantis/logstash"

#Regions currently include us-east-1, ap-northeast, sjc-1, etc
LS_REGION="syd1"


#Only for us-east-1, (testflight or prod)
#LS_ENVIROMENT="prod"


#Component Types currently include (router, manager, supervisor)
LS_COMPONENT_TYPE=""


#Supervisor sub-region (a, d, e) e.g. us-east-1a
LS_SUB_REGION=""


#The common name for the logstash node, just for simplicity when using controller
LS_NODE_NAME=""


#Index-prefix manual override, default uses enviroment when necessary (in us-east-1)
LS_INDEX_PREFIX=""


#Logstash version, default uses 1.5.4
LS_VERSION="1.5.4"


#Elastic search host name:
LS_ELASTIC_HOSTNAME="master1.elasticsearch.${LS_REGION}.atlantis.services.ooyala.com"


#Elastic search cluster name:
LS_ELASTIC_CLUSTERNAME="elasticsearch-atlantis"

#Logstash sincedb location (defaults to the repo root)
LS_SINCEDB_DIR=""

#Logstash download url
LS_DL_URL="https://download.elastic.co/logstash/logstash/${LS_VERSION}.tar.gz"
